# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE configs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Allure reports
allure-results/
allure-report/

# Logs
*.log

# Pip metadata
pip-wheel-metadata/
